.header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title {
    text-align: center;
    width: 100%;
  }